
  <h1 class="text-center">Slackr Backend.</h1>
  <br />
  
  <p class="col-xs-6 col-xs-offset-3">
    The API Backend of our ReactJS application.  See the <a href="https://github.com/FirehoseProject/slackr-backend">API documentation</a>.
  </p>
  
  <p class="col-xs-6 col-xs-offset-3">
    Created by <a href="http://twitter.com/FirehoseProject">@FirehoseProject</a>
  </p>
</body>

</html>
